<!DOCTYPE html>
<html>

<head>
  <title>XBOS Dashboard</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1.0'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel='shortcut icon' type='image/png' href='./assets/img/favicon1.png'/> -->
  <link rel='shortcut icon' type='image/png' href='assets/img/favicon2.png' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/contact-form.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/materialize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/font-awesome/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/bootstrap/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/venobox/venobox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/slick/slick.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/navbar.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body id="body" class="">
	<div class="naviagtion fixed-top transition">
		<div class="container">
		  <nav class="navbar navbar-expand-lg navbar-dark p-0">
			<a class="navbar-brand p-0" href="index.html"><img src="images/logo/logo.png" alt="Agico"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
			  aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
	  
			<div class="collapse navbar-collapse text-center" id="navigation">
			  <ul class="navbar-nav mx-auto">
	  
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/setpoints">Setpoints</a>
				</li>
	  
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/weather">Weather</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/intelligence">Intelligence</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white text-capitalize" href="/contact">contact</a>
				  </li>
			  </ul>
			  <a href="#" class="btn btn-outline-primary text-white ml-3">sign up</a>
			</div>
		  </nav>
		</div>
	  </div>



  <div class="wrapper-contact">
    <div class="title">
      Need Help?
    </div>
    <form class="form-animated">
      <input type="text" class="field-in" id="contact-font" placeholder="Your Name" />

      <input type="text" class="fieldemail-contact field-in" id="contact-font" placeholder="Email" />

      <input type="text" class="fieldphone-contact field-in" id="contact-font" placeholder="Phone" />

      <textarea class="message-contact field-in" id="contact-font" placeholder="Message"></textarea>

      <button class="submit-contact" id="submit-text-message">Submit</button>
    </form>
    <div class="shadow-animated"></div>
  </div>
</body>

<script>
  $('#submit-text-message').click(function () {
    $.ajax({
      type: 'POST',
      url: "aws",
      dataType: "text",
      success: function (response) {
        console.log(response);
        alert(response);
      }
    });
  });
</script>



<!--<script type="text/javascript" src="assets/js/amazonSNS/index.js"></script>-->
<script>
  document.getElementById('logout-button').addEventListener('click', (event) => {
    event.preventDefault()

    const signoutWindow = window.open(
      'https://dev-693782.okta.com/login/signout',
      'okta-signout',
      //'height=1,width=1',
      'toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=10000, top=10000, width=10, height=10, visible=none'
    )

    setTimeout(() => {
      signoutWindow.close()
      window.location = document.getElementById('logout-button').href
    }, 1000)
  })
</script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.451.0.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/lib/materialize.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/lib/jquery.js') }}"></script>

</html>