<!DOCTYPE html>
<html>

<head>
  <title>XBOS Dashboard</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1.0'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel='shortcut icon' type='image/png' href='./assets/img/favicon1.png'/> -->
  <link rel='shortcut icon' type='image/png' href='assets/img/favicon2.png' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/contact-form.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/materialize.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='assets/js/preloader.js') }}"></script>
  <link rel="stylesheet" type="text/css" media="screen"
    href="{{ url_for('static', filename='assets/css/particles.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body id="body" class="">
  <div class="preloader">
    <img src="{{ url_for('static', filename='assets/img/preloader.gif') }}" alt="preloader">
  </div>
  <div id="particles-js"></div>
  <div class="">
      <ul id="dropdown1" class="dropdown-content">
          <li><a href="/profile">Profile</a></li>
          <li class="divider"></li>
          <li><a id="logout-button" href="/logout">Logout</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="/profile">Profile</a></li>
            <li class="divider"></li>
            <li><a id="logout-button" href="/logout">Logout</a></li>
          </ul>
          {% if id in admin %}
          <nav>
            <div class="nav-wrapper dashe-blue">
              <a href="/dashboard" class="brand-logo">SolarPlus</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
      
                <li>
                  <div id="intelligent-control"></div>
                </li>
                <li>
                  <span id="intelligence-control-on-off"> Intelligent Control off</span>
                </li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/setpoints">Setpoints</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="/intelligence">Intelligence</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><span>
                      Hi, {{name}}
                    </span>
                    <i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
              <ul class="sidenav" id="mobile-demo">
      
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/setpoints">Setpoints</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="/intelligence">Intelligence</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="dropdown-trigger2" href="#!" data-target="dropdown2"><span>
                      Hi, {{name}}
                    </span>
                    <i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
            </div>
          </nav>
          {% else %}
          <nav>
            <div class="nav-wrapper dashe-blue">
              <a href="/dashboard" class="brand-logo">SolarPlus</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/dashboard">Dashboard</a></li>	
                <li><a href="/weather">Weather</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><span>
                      Hi, {{name}}
                    </span>
                    <i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
              <ul class="sidenav" id="mobile-demo">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="dropdown-trigger2" href="#!" data-target="dropdown2"><span>
                      Hi, {{name}}
                    </span>
                    <i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
            </div>
          </nav>
          {% endif %}
  </div>



  <div class="wrapper-contact">
    <div class="title white-text">
      Need Help?
    </div>
    <form class="form-animated">
      <input id="name" type="text" class="field-in white-text" id="contact-font"
        value="{{name}}" />
        <label style="color: white;" for="name">Name</label>

      <input id="email" type="text" class="fieldemail-contact field-in white-text" id="contact-font"
        value="{{email}}"/>
        <label style="color: white;" for="email">Email</label>

      <input id="number" type="text" class="fieldphone-contact field-in white-text" id="contact-font"
        placeholder="Phone: 1234567890" />
        <label style="color: white;" for="number">Phone Number</label>

      <textarea id="message" class="message-contact field-in white-text" id="contact-font"
        placeholder="Message"></textarea>

      <button class="submit-contact" id="submit-text-message">Submit</button>
    </form>
    <div class="shadow-animated"></div>
  </div>
</body>

<script>
function check(number) {
    var reg = /^[0-9]{1,10}$/;
    var checking = reg.test(number);

    if(number.length < 10){
      alert("Please enter a valid phone number e.g 1234567890");
      return false;
    }
    else if (checking) {
      return number;
    } else {
      alert("Please enter a valid phone number e.g 1234567890");
      return false;
    }
  }


  $(document).ready(function () {
    $('#submit-text-message').click(function () {
      var message = $("#message").val();
      var number = $("#number").val();
      var name = $("#name").val();;
      console.log(message);
      console.log(number)
      console.log(name)
      console.log(email);
      var valid = check(number)
      console.log(valid)

      //sends user input to the backend
      $.ajax({
        type: 'POST',
        url: "aws",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({
          "name": name,
          "email": email,
          "number": valid,
          "message": message
        }),

      }).done(function (data) {
        console.log(data);
      });
    });
  });
</script>



<!--<script type="text/javascript" src="assets/js/amazonSNS/index.js"></script>-->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.451.0.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/lib/jquery.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/lib/materialize.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/particles.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/app.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/navbar.js') }}"></script>

</html>