<!DOCTYPE html>
<html>

<head>
	<title>SolarPlus</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/img/logo.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/materialize.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dashboard.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/font-awesome/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/bootstrap/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/venobox/venobox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/slick/slick.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/navbar.css') }}">

	<!-- <link rel="stylesheet" type="text/css" href="static/styles/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="static/styles/css/nouislider.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body id="body">
	<div class="naviagtion fixed-top transition">
		<div class="container">
		  <nav class="navbar navbar-expand-lg navbar-dark p-0">
			<a class="navbar-brand p-0" href="index.html"><img src="images/logo/logo.png" alt="Agico"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
			  aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
	  
			<div class="collapse navbar-collapse text-center" id="navigation">
			  <ul class="navbar-nav mx-auto">
	  
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/setpoints">Setpoints</a>
				</li>
	  
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/weather">Weather</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/intelligence">Intelligence</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white text-capitalize" href="/contact">contact</a>
				  </li>
			  </ul>
			  <a href="#" class="btn btn-outline-primary text-white ml-3">sign up</a>
			</div>
		  </nav>
		</div>
	  </div>

	<div class="row" id="DRROW" style="display: none;"></div>
	<div class="row"></div>
	<div class="row"></div>

	<div class="row card-margin">


		<div class="col s4 offset-s1">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Average Power Consumption</span>
					<p class="inner-card-padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor
						incididunt ut labore et
						dolore magna aliqua.</p>
				</div>
			</div>
		</div>

		<div class="col s4 offset-s2">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Solar Production</span>
					<p class="inner-card-padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor
						incididunt ut labore et
						dolore magna aliqua.</p>
				</div>
			</div>
		</div>

	</div>
	<div class="row card-margin">
		<div class="col s4 offset-s2 center-align">

			<div class="row valign-wrapper row-padding center-align">

				<p>
					Price of Electricity:
				</p>
				<div class="outline center-align">
					$ xxx
				</div>

			</div>
			<div class="row valign-wrapper row-padding center-align">

				<p>
					Battery SOC:
				</p>
				<div class="outline center-align">
					xxx %
				</div>

			</div>
			<div class="row valign-wrapper row-padding center-align">

				<p>
					Operating Mode:
				</p>
				<div class="outline center-align">
					MPC on
				</div>

			</div>
		</div>

		<div class="col s4 offset-s1">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Zone Temperatures and Setpoints</span>
					<p class="inner-card-padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor
						incididunt ut labore et
						dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>

</body>
<script>
	document.getElementById('logout-button').addEventListener('click', (event) => {
		event.preventDefault()

		const signoutWindow = window.open(
			'https://dev-693782.okta.com/login/signout',
			'okta-signout',
			//'height=1,width=1',
			'toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=10000, top=10000, width=10, height=10, visible=none'
		)

		setTimeout(() => {

			signoutWindow.close()
			window.location = document.getElementById('logout-button').href
		}, 1000)
	})
</script>


</html>