<!DOCTYPE html>
<html>

<head>
	<title>SolarPlus</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link rel='shortcut icon' type='image/png' href='./assets/img/favicon1.png'/> -->
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/img/logo.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/materialize.css') }}">

	<!-- <link rel="stylesheet" type="text/css" href="static/styles/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="static/styles/css/nouislider.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body id="body" class="">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper tp-blue">
				<a href="/index" class="brand-logo">SolarPlus</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<div id="intelligent-control"></div>
					</li>
					<li>
						<div id="intelligent-control-text">
							<h6>Intelligent Control off</h6>
						</div>
					</li>
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="/setpoints">Setpoints</a></li>
					<li><a href="/weather">Weather</a></li>
					<!-- <li><a href="/DR">DR</a></li> -->
					<li class="active"><a href="#">Intelligence</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a id="logout-button" href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="section">
			<div class="row valign-wrapper">
				<div class="col s6">
					<h4 style="margin-bottom: 0;">Intelligent Control</h4>
				</div>

				<div class="col s6 right-align">
					<!-- <a id="save-modes" onClick="download_csv()" class="waves-effect waves-light btn">save<i  class="material-icons right"  >save</i></a> -->
					<a id="save-modes" class="waves-effect waves-light btn">save<i
							class="material-icons right">save</i></a>
				</div>
			</div>

		</div>
		<div class="switch">
			<label>
				<span class="swi-text">off</span>
				<input class="ogswitch" type="checkbox">
				<span class="lever"></span>
				<span class="swi-text">on</span>
			</label>
		</div>
	</div>


	<div id="DRBG" class="row center-align z-depth-1 scale-transition scale-out" style="line-height: 2.25;">
		<a id="DRTXT" href="html/DR.html">"</a>
	</div>

</body>
<script>
	document.getElementById('logout-button').addEventListener('click', (event) => {
		event.preventDefault()

		const signoutWindow = window.open(
			'https://dev-693782.okta.com/login/signout',
			'okta-signout',
			//'height=1,width=1',
			'toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=10000, top=10000, width=10, height=10, visible=none'
		)

		setTimeout(() => {
			signoutWindow.close()
			window.location = document.getElementById('logout-button').href
		}, 1000)
	})
</script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/lib/materialize.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/lib/jquery.js') }}"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='assets/js/script.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/settings/settings.js') }}"></script> -->

</html>