<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SolarPlus</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1.0'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='assets/img/logo.png') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/vendor/library.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/core/style.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/materialize.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/nouislider.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/font-awesome/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/bootstrap/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/venobox/venobox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/plugins/slick/slick.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/navbar.css') }}">

	<!-- <link rel="stylesheet" type="text/css" href="static/styles/css/core/style.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="static/styles/css/nouislider.css"> -->



	<script type="text/javascript" src="{{url_for('static', filename='assets/js/weather/home.js') }}"></script>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body id="body">

	<div class="naviagtion fixed-top transition">
		<div class="container">
		  <nav class="navbar navbar-expand-lg navbar-dark p-0">
			<a class="navbar-brand p-0" href="index.html"><img src="images/logo/logo.png" alt="Agico"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation"
			  aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
	  
			<div class="collapse navbar-collapse text-center" id="navigation">
			  <ul class="navbar-nav mx-auto">
	  
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/dashboard">Dashboard</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/setpoints">Setpoints</a>
				</li>
	  
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/weather">Weather</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-white text-capitalize" href="/intelligence">Intelligence</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white text-capitalize" href="/contact">contact</a>
				  </li>
			  </ul>
			  <a href="#" class="btn btn-outline-primary text-white ml-3">sign up</a>
			</div>
		  </nav>
		</div>
	  </div>

	<!-- weather! -->
	<div id="weather-box">
		<div class="row">
			<div class="col-md-5 col-lg-5 col-xl-4 left">
				<div class="location">
					<div>
						<div id="location"></div>
						<div id="time"></div>
					</div>
				</div>

				<div id="weather" class="temperature">
					<canvas id="icon0" width="128" height="128"></canvas>
					<div>
						<div id="temperature-holder">
							<div id="temperature"></div>
							<div id="temperature-format">
								<a id="changeFormat" href="javascript:void(0);">°C</a>
							</div>
						</div>
					</div>

				</div>

				<div class="doppler">
					<img class="doppler" src="http://radar.weather.gov/ridge/Overlays/Topo/Short/DAX_Topo_Short.jpg"
						alt="IMG Not found">
					<img id="doppler-dax" class="doppler-gif"
						src="https://radar.weather.gov/ridge/RadarImg/N0R/DAX_N0R_0.gif" alt="IMG Not found">
					<img class="doppler-gif"
						src="http://radar.weather.gov/ridge/Overlays/Cities/Short/DAX_City_Short.gif"
						alt="IMG Not found">
				</div>

				<div id="additional">


					<div class="row">
						<div class="col-lg-6 pt-2 pb-2" id="fit">
							<div>
								Visibility:
								<span id="summary"></span>
							</div>
						</div>
						<!-- precipitation -->
						<div class="col-lg-6 pt-2 pb-2" id="fit">
							<div>
								Precipitation:
								<span id="precipitation"></span>
							</div>
						</div>
						<!-- humidity -->
						<div class="col-lg-6 pt-2 pb-2" id="fit">
							<div>
								Humidity:
								<span id="humidity"></span>
							</div>
						</div>
						<!-- windSpeed -->
						<div class="col-lg-6 pt-2 pb-2" id="fit">
							<div>
								Windspeed:
								<span id="windSpeed"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-lg-7 col-xl-8 bottom">
				<div class="wrapper2">
					<div class="future">
						<div class="day"></div>
						<canvas id="icon1" width="64" height="64"></canvas>
						<div class="min-max-holder">
							<div class="max" id="max0"></div>
							<div class="min" id="min0"></div>
						</div>
					</div>
					<div class="future">
						<div class="day"></div>
						<canvas id="icon2" width="64" height="64"></canvas>
						<div class="min-max-holder">
							<div class="max" id="max1"></div>
							<div class="min" id="min1"></div>
						</div>
					</div>
					<div class="future">
						<div class="day"></div>
						<canvas id="icon3" width="64" height="64"></canvas>
						<div class="min-max-holder">
							<div class="max" id="max2"></div>
							<div class="min" id="min2"></div>
						</div>
					</div>
					<div class="future">
						<div class="day"></div>
						<canvas id="icon4" width="64" height="64"></canvas>
						<div class="min-max-holder">
							<div class="max" id="max3"></div>
							<div class="min" id="min3"></div>
						</div>
					</div>
					<div class="future">
						<div class="day"></div>
						<canvas id="icon5" width="64" height="64"></canvas>
						<div class="min-max-holder">
							<div class="max" id="max4"></div>
							<div class="min" id="min4"></div>
						</div>
					</div>
					<div class="future">
						<div class="day"></div>
						<canvas id="icon6" width="64" height="64"></canvas>
						<div class="min-max-holder">
							<div class="max" id="max5"></div>
							<div class="min" id="min5"></div>
						</div>
					</div>
					<div class="future">
						<div class="day"></div>
						<canvas id="icon7" width="64" height="64"></canvas>
						<div class="min-max-holder">
							<div class="max" id="max6"></div>
							<div class="min" id="min6"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<script>
		document.getElementById('logout-button').addEventListener('click', (event) => {
			event.preventDefault()

			const signoutWindow = window.open(
				'https://dev-693782.okta.com/login/signout',
				'okta-signout',
				//'height=1,width=1',
				'toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=10000, top=10000, width=10, height=10, visible=none'
			)

			setTimeout(() => {
				signoutWindow.close()
				window.location = document.getElementById('logout-button').href
			}, 1000)
		})
	</script>
<script src="https://cdn.rawgit.com/maxdow/skycons/master/skycons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/weather/home.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='assets/js/weather/doppler.js') }}"></script>

</html>